@import "tailwindcss";

@theme {
    --color-primary-500: rgb(243, 241, 233);
    --color-bgcontrast-500: rgb(226, 181, 181);
    --color-secondary-500: rgb(182, 204, 195);
    --color-text-500: rgb(16, 83, 64);
    --color-yelloh-500: rgb(252, 232, 174);
    --color-font-500: rgb(244, 127, 180);
    --color-order-500: rgb(248, 205, 225);
}

.annie-use-your-telescope-regular {
  font-family: "Annie Use Your Telescope", cursive;
  font-weight: 400;
  font-style: normal;
}


  /* animazione loader */
  @keyframes floatUp {
    0% {
      transform: translateY(0);
      opacity: 1;
    }
    100% {
      transform: translateY(-100px);
      opacity: 0;
    }
  }
  
  .animate-float {
    animation: floatUp 1.5s ease-in-out infinite;
  }
  
  
  
  
  