@import "tailwindcss";

@theme {
    --color-primary-500: #bf6a72;
    --color-bgcontrast-500: #e2b5b5;
    --color-secondary-500: #b6ccc3;
    --color-text-500: rgb(16, 83, 64);
    --color-yelloh-500: #fce2ae;
}

